body{
    background-color: #ffffff;
  }
  
#page{
    margin-left: 200px;
    margin-right: 200px;
    background-color: #e7e7e7;
  }

.colcol{
    margin:5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  

header{
    background-color: #ADD8E6;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;


